<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testng.GoogleApplicationWithBeforeAfter"/>
      <class name="utility.SeleniumUtility"/>
      <class name="testng.Example1"/>
      <class name="testng.Example2"/>
      <class name="testng.JavaFile"/>
      <class name="testng.FirstTestNgWebScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
